In [1]:
def add(a,b):
    s=a+b
    return s

In [2]:
add(3,2)

5

In [3]:
x =int(input('Enter the 1st num'))
y =int(input('Enter the 2nd num'))
print('sum is',add(x,y))

Enter the 1st num42
Enter the 2nd num55
sum is 97

In [5]:
def largest(x,y,z):
    if x>y and x>z:
        return x
    elif y>x and y>z:
        return y
    else:
        return z

In [6]:
largest(322,466,244)

466

In [4]:
scores=[7,8,9,10,11,11]
sc_set=set(scores)
top=max(sc_set)
sc_set.remove(top)
print(max(sc_set))

10

In [5]:
top

11

In [6]:
s1={1,2,3,4,5,6}
s2={5,6,7,8,9}
if s1.intersection(s2):
    print(s1&s2)
else:
    print(s1.union(s2))

{5, 6}

In [8]:
D={'john':[25,32,43],'peter':[87,55,96],'ram':[58,55,43],'meena':[63,79,85]}
n=input('Enter the name to be updated')
if n in D:
    D[n]=[88,77,99]
    print(D)
else:
    print('name not found')

Enter the name to be updatedjohn
{'john': [88, 77, 99], 'peter': [87, 55, 96], 'ram': [58, 55, 43], 'meena': [63, 79, 85]}

In [9]:
s='Nirmala'
s[::2]

'Nraa'

In [10]:
ages=[23,36,48]
print('Elder=',max(ages))
print('youngest=',min(ages))

Elder= 48
youngest= 23